 /* th, td {
  border: 1px solid black;
  border-collapse: collapse;
} */
.table1
{
  border: 1px solid black;
  border-collapse: collapse;
}
.manage-airline
{
  /* border: 1px solid black; */
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;

}
.active-pink-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
  size: 2in;
}
.left{
  /* float:left; */
  margin-right: 0.5in;
  margin-top: 15px;


}
 .searchBox
{
  margin-left: 6in;
  margin-top: 15px;
}
